*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}
#game{
    width: 1000px;
    height: 300px;
    border: 3px solid black;
    margin: 100px auto;
    overflow: hidden;
}


#character{
    width: 62px;
    height: 100px;
    position: relative;
    top: 195px; 
    left: 30px;
    /* display: none; */
}
#character img{
    height: 100px;
    /* display: none; */
}
.up{
    animation: jump 800ms linear  ;
}
@keyframes jump{
    0%{top:180px} 
    60%{top:50px}
    100%{top: 180px}
}
#dead{
    width: 87px;
    height: 100px;
    position: relative;
    top: 200px; 
    left: 20px;
    display: none;
}
#dead::after{
    content: "GAME OVER";
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding-top: 5px;
    width: 250px;
    height: 60px;
    position: absolute;
    top: -70px; 
    left: 350px;
}

#win{
    width: 87px;
    height: 100px;
    position: relative;
    top: 200px; 
    left: 20px;
    display: none;
}
#win::after{
    content: "YOU WIN";
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding-top: 5px;
    width: 250px;
    height: 60px;
    position: absolute;
    top: -170px; 
    left: 350px;
}

#shooter{
    width: 100px;
    position: relative;
    top: 95px; 
    left: 890px;
    z-index: 10px;
}

#shooter img, #cloud img{
    height: 100px;
}


#bullet{
    width: 20px;
    height: 5px;
    position: relative;
    top: 5px;
    left: 900px;
    animation: none;
    background-color: black;
    border-radius: 50% 0 0 50% ;
}

@keyframes shot{
    0%{left:900px}
    100%{left:0px}
}

#cloud{
    width: 100px;
    height: 100px;
    position: relative;
    top: -180px;
    left: 1000px;
    animation: cloud 40s infinite;
    animation-timing-function: ease-in-out;
    animation-delay:3s;
}
@keyframes cloud{
    0%{left:1000px}
    100%{left:-100px}
}

#restart{
    position: relative;
    top: -230px;
    left: 480px;
    font-size: 20px;
    border: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: none;
}
#start{
    position: relative;
    top: -200px;
    left: 455px;
    font-weight: 400;
    font-size: 43px;
    color: white;
    height: 50px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 40px;
}